<div class="card horizontal">
  <div class="card-image">
    <img src="https://lorempixel.com/100/190/nature/6">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h5><%= user.nickname %></h5>
      <p><%= user.text %></p>
    </div>
    <div class="card-action">
      <%= link_to "#{user.nickname}'s page", user_path(user.id) %>
    </div>
  </div>
</div>
