<div class="row"> 
  <div class="col s12 m7">
    <h4 class="header"><%= "#{@user.nickname}'s profile" %></h4>
      <%= render partial: "users/user", collection: [@user] %>
    <h4 class="header">Post list</h4>
      <%= render partial: "posts/post", collection: @user.posts %>
  </div>
</div>
