<div class="container"> <!-- 幅とmargin指定する -->
  <div class="row">
        <%= form_tag('/posts', :method => :post) do %>
        <div class="input-field col s6">
          <input placeholder="sample title" name="title" type="text" class="validate">
          <label for="Title">Title</label>
        </div>
        <div class="input-field col s12">
          <textarea name="post" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        <% end %>
  </div>
</div>