<div class="row">
    <%= form_for(@post) do |f|  %>
      <div class="input-field col s6">
        <%= f.text_field :title, placeholder: "sample title", class: "validate" %>
        <label for="Title">Title</label>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :post, placeholder: "Write something this", class: "materialize-textarea" %>
        <label for="textarea1">Post</label>
      </div>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit">Post Blog
          <i class="material-icons right">create</i>
        </button>
      </div>
    <% end %>
</div>
