<div class="container"> <!-- 幅とmargin指定する -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <%= form_for(@post) do |f| %>
          <div class="input-field col s6">
            <%= f.text_field :title, placeholder: "Please input Title", class: "validate"  %>
            <label for="Title">Title</label>
          </div>
          <div class="input-field col s12">
            <%= f.text_area :post, placeholder: "What's are you writing?", class: "materialize-textarea" %>
            <label >Text</label>
          </div>
          <div class="input-field col s12">
              <%= f.submit "Post it!", class:"btn waves-effect waves-light" %>
          </div>
        <% end %>
      </div>
    </form>
  </div>
</div>