<header>
  <nav class="#42a5f5 blue lighten-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Sing out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sing in", new_user_session_path, method: :get  %></li>
        <% end %>
        <li><%= link_to "My Page", "users/#{current_user.id}", method: :get %></a></li>
      </ul>
    </div>
  </nav>
</header>