<header>
  <nav class="#42a5f5 blue lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sing out</a></li>
        <li><a href="#">My Page</a></li>
      </ul>
    </div>
  </nav>
</header>